SVSim*
[#]*[#]
.\#*
*~
*.csv
*.o
*.gif
*.gcda
*.gcno
*.gcov
.*
Test
autom4te.cache
.Rhistory
.in
.deps*
html
latex
config.log
tmp*
libhts.*
libsnowtools.a
libaho*
libbwa.a
example*
tabix
htsfile
bgzip
back*
*.m4
*.bam
variant
stamp-h1
config.status
Makefile
*.pico
