docs
[#]*[#]
.\#*
*~
*.csv
*.o
*.gif
*.gcda
*.gcno
*.gcov
.*
Test
autom4te.cache
.Rhistory
.in
.deps*
latex
config.log
tmp*
*.a
example*
tabix
htsfile
bgzip
back*
*.m4
*.bam
stamp-h1
config.status
Makefile
*.pico
benchmark
config.status
seqtools
config.h
