SVSim*
[#]*[#]
.\#*
*~
*.csv
*.o
*.gif
.*
autom4te.cache
.Rhistory
.in
.deps*
html
latex
config.log
tmp*
libhts.*
libsnowtools.a
libaho*
libbwa.a
example*
tabix
htsfile
bgzip
stamp-h1
*.a
*.so*
Makefile
*.pico
