[submodule "fermi-lite"]
	path = fermi-lite
	url = https://github.com/walaj/fermi-lite
[submodule "htslib"]
	path = htslib
	url = https://github.com/samtools/htslib
[submodule "bwa"]
	path = bwa
	url = https://github.com/walaj/bwa
